<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="swapper">
    <div class="imgs">
      <img src="/public/img/img_01.jpg" alt="">
      <img src="/public/img/img_02.jpg" alt="">
      <img src="/public/img/img_03.jpg" alt="">
      <section class="about">
        <form action="">
          <input type="text" placeholder="您的称呼，如王先生/刘女士">
          <input type="text" placeholder="联系方式，便于提供0元装修方案">
          <button>立即领取</button>
        </form>
        <img src="/public/img/img_04.jpg" alt="">
      </section>
      <img src="/public/img/img_05_01.jpg" alt="">
      <section class="module module01" style="background-image: url(/public/img/img_05_02.jpg);">
        <div class="title-module">
          <h1 class="title">五零服务保障</h1>
          <h2 class="title">材料到位 业主验收 最终检测</h2>
        </div>
        <ul class="module01-list">
          <li class="module01-item">
            <img src="/public/img/1.jpg" alt="">
          </li>
          <li class="module01-item">
            <img src="/public/img/2.jpg" alt="">
          </li>
          <li class="module01-item">
            <img src="/public/img/3.jpg" alt="">
          </li>
          <li class="module01-item">
            <img src="/public/img/4.jpg" alt="">
          </li>
          <li class="module01-item">
            <img src="/public/img/5.jpg" alt="">
          </li>
        </ul>
        <div class="buttons">
          <button class="consult popup01">我有问题要咨询</button>
          <button class="get-plan popup02 beat">0元获取装修方案</button>
        </div>
      </section>
      <section class="module module02" style="background-image: url(/public/img/img_06_bg.jpg);">
        <div class="title-module">
          <h1 class="title">德系工程体系</h1>
          <h2 class="title">专业 品质 安全</h2>
        </div>
        <ul class="module02-list">
          <li class="module02-item">
            <img src="/public/img/m2-1.jpg" alt="">
          </li>
          <li class="module02-item">
            <img src="/public/img/m2-2.jpg" alt="">
          </li>
          <li class="module02-item">
            <img src="/public/img/m2-3.jpg" alt="">
          </li>
          <li class="module02-item">
            <img src="/public/img/m2-4.jpg" alt="">
          </li>
        </ul>
        <div class="buttons">
          <button class="consult popup01">我有问题要咨询</button>
          <button class="get-plan popup02 beat">0元获取装修方案</button>
        </div>
      </section>
      <section class="module module03" style="background-image: url(/public/img/img_07_bg.jpg);">
        <div class="title-module">
          <h1 class="title">选建材 用好牌</h1>
          <h2 class="title">材料到位 业主验收 最终检测</h2>
        </div>
        <div class="cont">
          <ul class="tabs">
            <li class="tab-item" data-index="0">全球甄选 环保材料</li>
            <span></span>
            <li class="tab-item" data-index="1">材料到场 业主验收</li>
            <span></span>
            <li class="tab-item active" data-index="2">甲醛检测 水电质保</li>
          </ul>
          <ul class="views">
            <li class="view-item active">
              <img src="/public/img/m3-1.jpg" alt="">
            </li>
            <li class="view-item">
              <img src="/public/img/m3-1.jpg" alt="">
            </li>
            <li class="view-item">
              <img src="/public/img/m3-1.jpg" alt="">
            </li>
          </ul>
        </div>
        <div class="buttons">
          <button class="consult popup01">我有问题要咨询</button>
          <button class="get-plan popup02 beat">0元获取装修方案</button>
        </div>
      </section>
      <section class="module04" style="background-image: url(/public/img/m4-bg.jpg);">
        <div class="titles">
          <h1 class="title">全方位设计规划</h1>
          <h2 class="title">
            装修效果图<span> 100% </span>还原
          </h2>
        </div>
        <div class="cont">
          <h1 class="cont-title">软硬装配 空间功能 生活方式</h1>
          <h2 class="cont-title">一站式全方位规划设计<span> 1:1效果 </span>还原</h2>
          <div class="main-cont">
            <ul class="tabs">
              <li data-index="0" class="tab-item">户型空间<br>设计规划</li>
              <li data-index="1" class="tab-item">式供水点<br>规划设计</li>
              <li data-index="2" class="tab-item">木作安装<br>设计规划</li>
              <li data-index="3" class="tab-item active">家居软装<br>设计规划</li>
            </ul>
            <ul class="views">
              <li class="view-item active">
                <img src="/public/img/m4-1.jpg" alt="">
              </li>
              <li class="view-item">
                <img src="/public/img/m4-1.jpg" alt="">
              </li>
              <li class="view-item">
                <img src="/public/img/m4-1.jpg" alt="">
              </li>
              <li class="view-item">
                <img src="/public/img/m4-1.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
      </section>
      <img src="/public/img/img_09.jpg" alt="">
      <section class="case">
        <img src="/public/img/img_10.jpg" alt="">
        <div class="case-wrapper swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="imgs">
                <button class="receive popup02">领这套装修方案</button>
                <img src="/public/img/case-list.jpg" alt="">
              </div>
            </li>
            <li class="swiper-slide">
              <div class="imgs">
                <button class="receive popup02">领这套装修方案</button>
                <img src="/public/img/case-list.jpg" alt="">
              </div>
            </li>
            <li class="swiper-slide">
              <div class="imgs">
                <button class="receive popup02">领这套装修方案</button>
                <img src="/public/img/case-list.jpg" alt="">
              </div>
            </li>
            <li class="swiper-slide">
              <div class="imgs">
                <button class="receive popup02">领这套装修方案</button>
                <img src="/public/img/case-list.jpg" alt="">
              </div>
            </li>
            <li class="swiper-slide">
              <div class="imgs">
                <button class="receive popup02">领这套装修方案</button>
                <img src="/public/img/case-list.jpg" alt="">
              </div>
            </li>

          </ul>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="showroom">
        <img src="/public/img/img_11.jpg" alt="">
        <button class="showroom-btn popup02 beat">立即预约</button>
      </section>
      <section class="form2">
        <img src="/public/img/img_13.jpg" alt="">
        <form action="">
          <input type="text" placeholder="北京">
          <input type="text" placeholder="请输入您的电话号码">
          <input type="text" placeholder="请输入您的户型面积">
          <button>限量免费领取</button>
        </form>
      </section>
      <footer>
        <div class="close iconfont icon-close"></div>
        <div class="left-img">
          <img src="/public/img/bottom-left.png" alt="">
        </div>
        <form action="">
          <label for="">
            <img src="/public/img/fullname.png" alt="">
            <input type="text" placeholder="您的姓名">
          </label>
          <label for="">
            <img src="/public/img/tel.png" alt="">
            <input type="text" placeholder="您的电话">
          </label>
          <br>
          <label for="">
            <img src="/public/img/area.png" alt="">
            <input type="text" placeholder="建筑面积">
          </label>
          <button>立即报名</button>
        </form>
        <!-- <img src="/public/img/img_14.jpg" alt=""> -->
      </footer>


    </div>
  </div>
  <%= require("html-loader!../common/popup/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>

</body>

</html>